.main-movie {
    .user-profile-avatar {
        width: auto !important;
        height: auto !important;
    }
    .fact {
        background-color: rgb(14, 13, 13);
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 25px;
        border-radius: 10px;
        box-shadow: 5px 5px 3px black;
    }
    #import-votes {
        display: flex;
        justify-content: space-between;
    
        margin: 20px 0;
    }
    
    #import-votes a {
        color: inherit !important;
        text-decoration: none !important;
    }
    
    .import-vote {
        display: flex;
        flex-direction: column;
        width: 102px;
        height: 38px;
        border-radius: 5px;
        box-shadow: 3px 3px 4px black;
    }
    
    #imdb-vote {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(34, 34, 34);
        font-size: 11.5px;
    
        padding: 5px 10px;
    }
    
    #imdb-vote #imdb-title {
        font-size: 13px !important;
        font-style: bold;
        color: yellow;
        margin: 0;
        padding: 0;
    }
    
    #imdb-vote #imdb-score {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
    
}