@import url('../fonts/portia.otf');
@import url('../fonts/cramaten.ttf');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@import "_reset.scss";

$main-grey: #C4C4C4;
$xxl: 1400px;
$lg: 992px;
$md: 768px;
$sm: 576px;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.07em;
    color: white;
    background-color: #171717;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'Cramaten'; 
	src: url(../fonts/cramaten.ttf); 
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.header {
    font-family: Cramaten;
    font-size: 36px;
    letter-spacing: 0.07em;

    background: #171717;

    //padding-top: 32px;
    height: 140px;

    .fa-chevron-down {
        font-weight: 900;
        font-size: 12px;
        letter-spacing: 0.07em;
        transition: .3s;

        margin-left: 10px;
    }

    .main__change-address {
        &:hover {
            .fa-chevron-down {
                transform: translate(0px, -5px);
            }
        }
    }

    .navbar {
        padding: 0;
    }

    .navbar__link, .header__current-user {
        transition: .3s;
        &:hover {
            text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.6);
            transition: text-shadow .3s;
        }
    }

    .header__profile {
        .header__avatar {
            padding: 15px;
            background-color: $main-grey;
            border-radius: 50%;
        }
        .header__custom-avatar {
            padding: 0;
            width: 80px;
            height: 80px;
            border: 3px solid white;
        }
        .header__sign-in, .header__sign-out {
            transition: .3s;
            &:hover {
                text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.6);
                transform: translate(0px, -5px);
            }

            
        }

        .header__sign-in {
            margin-left: 30px;
        }
        .header__current-user {
            max-width: 130px;
            word-break: break-all;
            text-align: center;

            margin-left: 20px;
            margin-right: 30px;
        }
    }

    .header__logo {
        width: 100px;
        margin-right: 20px;
    }
}

.greeting {
    height: 100vh;
    background: #171717;
}

.logo {
    .logo__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 140px);

        .logo__circle {
            height: 80%;
            border-radius: 50%;
            box-shadow: 0px 0px 20px 5px rgba(192, 192, 192, 0.25);
            z-index: 1;
            margin-bottom: 5%;
        }
        
        .logo__title {
            position: absolute;
            top: 62%;
            height: 35%;
            z-index: 3;
            // margin-top: -13%;
        }
    }
}

.movies {
    .movies__top {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 47px;
        border-radius: 10px 10px 0 0;
        padding: 0 52px;
        overflow: hidden;
    }

    .movies__carousel-container {
        position: relative;
        background-color: black;
        
        padding: 0 52px;

        .movies__move-left {
            position: absolute;
            left: 5px;
        }

        .movies__move-right {
            position: absolute;
            right: 5px;
        }

        .movies__move {
            top: 40%;
            font-size: 50px;
            font-weight: 900;
            transition: .3s;

            &:hover {
                transform: translate(0px, -10px);
            }
        }
    }

    .movies__carousel {
        display: flex;
        background-color: black;
        overflow: hidden;
    }

    .movies__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 47px;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.65);
        overflow: hidden;
    }
}

.movies__poster-container {
        position: relative;
        
        width: 180px;
        height: 270px;
        overflow: hidden;
    }

    .movies__poster {
        width: 180px;
        border-radius: 5px;
    }

    .movies__poster-shadow {
        position: absolute;
        top: 0%;
        width: 100%;
        height:100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 1;
    
        transition: 0.5s ease;
        opacity: 0;
    
        margin: 0;
        padding: 20px;

        &:hover {
            opacity: 1;
        }

        .movies__title {
            height: 30%;
            display: flex;
            justify-content: center;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }

        .movies__info {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .movies__last-seance {
            align-self: flex-end;
            text-align: center;
            .movies__date {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
            }
            
            .movies__seance-info {
                display: inline-block;
                text-align: center;
                background-color: black;
                border-radius: 5px;

                padding: 6px 14px;
            }

            .movies__seance-time {
                font-weight: normal;
                font-size: 14px;
            }

            .movies__seance-price {
                font-weight: normal;
                font-size: 9px;
                color: #EBEBEB;
                margin-top: 2px;
            }
        }

        .movies__description {
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
        }

    }
.schedule {
    margin-top: 135px;

    .schedule__title {
        text-align: center;
        font-family: Cramaten;
        font-size: 72px;
        line-height: 0px;

        margin-bottom: 80px;
    }

    .seances__carousel-container {
        position: relative;
        padding: 0 50px;

        margin-bottom: 100px;
    }

    .seances__move-left {
        position: absolute;
        left: 20px;
        transition: .3s;

        &:hover {
            transform: translate(-10px, 0px);
        }
    }

    .seances__move-right {
        position: absolute;
        right: 20px;
        transition: .3s;

        &:hover {
            transform: translate(10px, 0px);
        }
    }

    .seances__move {
        top: 30%;
        font-size: 30px;
    }  

    .schedule__seance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 70px;
        border-radius: 20px;
        transition: .3s;
        cursor: pointer;
        .seance__day, .seance__date {
            font-size: 15px;
            line-height: 15px;
        }
        
        .seance__day {
            font-weight: bold;
        }
        .seance__date {
            margin-top: 10px;
        }
    }

    .schedule__checkbox:checked + label {
        background-color: #C6C6C6;
        color: black;
    }
    
    .schedule__poster-container {
        width: 255px;
        height: 381px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        overflow: hidden;

        margin-left: 100px;
    }

    .schedule__poster {
        width: 100%;
    }

    .schedule__movie-animation {
        margin-bottom: 130px;
    }
    .schedule__movie {
        .movie__title {
            position: relative;
            font-family: Cramaten;
            font-size: 58px;
            letter-spacing: 0.07em;
        }

        .movie__title:after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: white;
            content: "";
            transition: width 0.3s ease-out;
            margin-top: -10px;
        }

        a:hover:after {
            width: 96%;
        }

        .movie__description {
            font-size: 14px;
            line-height: 26px;

            padding-top: 14px;
        }

        .movie__rating {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 4px solid;

            span {
                display: inline-block;
                font-family: Cramaten;
                font-size: 72px;
                letter-spacing: 0.07em;
                
                padding-left: 20px;
                padding-top: 12px;
            }
        }

        .movie__seances {
            display: flex;
            gap: 40px;
            flex-wrap: wrap;

            margin-top: 70px;

            .movie__seance {
                text-align: center;

                &:hover {
                    .movie__seance-time {
                        text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.6);
                        transform: translate(0px, -10px);
                    }
                }

                .movie__seance-time {
                    font-size: 40px;
                    transition: .3s;
                }

                .movie__seance-price {
                    font-size: 18px;
                    color: #EBEBEB;
                }
            }

            .movie__seance-golden {
                color: #FFC700;

                .movie__seance-price {
                    color: #FFC700;
                }

                &:hover {
                    .movie__seance-time {
                        text-shadow: 0px 0px 10px rgba(255, 199, 0, 0.6);
                        transform: translate(0px, 0px);
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    background: linear-gradient(180deg, #2D2D2D 0%, rgba(39, 39, 39, 0.501073) 49.89%, rgba(0, 0, 0, 0) 100%);

    padding: 90px 0;

    .footer__logo {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid;

        padding: 30px 150px;

        .footer__logo-img {
            width: 200px;
        }

        .footer__logo-title {
            font-size: 40px;

            margin-top: 10px;
        }
    }

    .footer__contacts {
        display: flex;
        width: 100%;

        .footer__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33.3%;
            border-right: 1px solid;
            
            &:last-child {
                border: none;
            }

            &:hover {
                .footer__icon {
                    transform: translate(0px, -10px);
                }
            }

            .footer__icon {
                font-weight: 900;
                font-size: 96px;

                transition: .3s;
            }

            .fa-phone {
                transform: scaleX(-1);
            }

            .footer__action {
                font-size: 40px;

                margin-top: 20px;
            }

            .footer__data {
                font-size: 20px;
                color: #C6C6C6;

                margin-top: 10px;
            }
        }
    }
}

.dropdown {
    z-index: 100;
}

.dropbtn {
    color: white;
    background-color: inherit;
    letter-spacing: inherit;
    padding: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content label {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;

    transition: .3s;
}

.dropdown-content label:hover {background-color: rgb(90, 90, 90);}

.dropdown:hover .dropdown-content {display: block;}

.modal {
    .header-title {
        display: flex;
    }
    .modal-poster {
        height: 120px;
        border-radius: 10px;
        margin-right: 20px;
    }
    .modal-title {
        font-size: 40px;
        line-height: unset;
    }
    .modal-undertitle {
        margin-top: 5px;
        color: rgb(201, 199, 199);
    }
    .modal-content {
        background-color: rgb(10, 9, 9);
    }
    .modal-body {
        display: flex;
        justify-content: center;
        background-color: #171717;
    }
    .btn-close {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: start;
        transition: .3s;

        margin-top: 5px;
        margin-right: 5px;
        span {
            font-size: 60px;
            color: white;
        }
    }
    .modal-footer {
        display: flex;
        flex-direction: column;
        
        .btn {
            align-self: flex-end;
        }
    }
    .modal-footer__left {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 100px;
    }
    .modal-footer__left-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .modal-footer__left-right {
        margin-top: 10px;
        width: 400px;
    }

    .parameter-title {
        width: 150px !important;
    }
    
    .parameter-value {
        width: 250px !important;
    }

}

.tickets-buying {
    a {
        text-decoration: underline;
        transition: .3s;
        &:hover {
            color: rgb(166, 166, 253)
        }
    }
    .value-range {
        width: 50px !important;
    }

    .seance-hall {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 900px;
        border-radius: 15px;
        background-color: rgb(10, 10, 10);

        .seance-hall__screen {
            height: 15px;
            width: 650px;
            margin-top: 20px;
            box-shadow: 0 8px 10px rgb(182, 182, 182);
            background-color: rgb(216, 216, 216);
        }
        .seance-hall__places {
            display: flex;
            flex-direction: column;
            justify-content: center; //подумать
            gap: 10px;
            width: 650px;
            height: 400px;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .seance-hall__row {
            display: flex;
            justify-content: center;
            gap: 10px;
            width: 100%;
            height: 40px;
        }
        .seance-hall__place {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: grey;
            border-radius: 5px;
            width: 40px;
            height: 100%;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background-color: white;
            }

            div {
                visibility: hidden;
                font-size: 20px;
            }
        }
        .place-busy {
            background-color: rgb(253, 67, 67);
            cursor: unset;

            &:hover {
                background-color: rgb(253, 67, 67);
            }
        }

        .place-vip {
            border: 3px solid rgbs(255, 199, 0);
            box-shadow: 0px 0px 10px 2px rgb(255, 199, 0);
        }

        .ticket__checkbox:checked + .place-notbusy {
            background-color: rgb(28, 145, 28);
            div {
                visibility:visible;
            }
        }
    }
}

.range{
    height: 50px;
    width: 300px;
    background: black;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
  }
  .sliderValue{
    position: relative;
    width: 100%;
  }
  .sliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
    transform: translateX(-70%) scale(0);
    font-weight: 500;
    top: -40px;
    line-height: 55px;
    z-index: 2;
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
  }
  .sliderValue span.show{
    transform: translateX(-70%) scale(1);
  }
  .sliderValue span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: white;
    border: 3px solid #fff;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  .field .value{
    position: absolute;
    font-size: 18px;
    color: white;
    font-weight: 600;
  }
  .field .value.left{
    left: -22px;
  }
  .field .value.right{
    right: -43px;
  }
  .range input{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
  }
  .range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 1px solid white;
    cursor: pointer;
  }
  .range input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 1px solid white;
    cursor: pointer;
  }
  .range input::-moz-range-progress{
    background: white; //this progress background is only shown on Firefox
  }

.footer-offer {
    margin-top: 20px;
}

.moderator-panel-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    transition: .3s;

    &:hover {
        transform: translate(0px, -10px);
    }
}

// Работает так себе, элементы бутстрапа все равно сжимаются
@media screen and (max-width: 1300px) {
    body, body > * {
      width: auto !important;
      min-width: 1300px !important  ;
    }
}