.card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;

    h2 {
        font-family: Cramaten;
        font-size: 40px;
        letter-spacing: 0.07em;
    }
}

.profile__title-table {
    h2 {
        font-family: Cramaten;
        font-size: 40px;
        letter-spacing: 0.07em;
    }
}

.admin-panel-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}