{% extends "base_generic.html" %}
{% block title %}<title>HoloMAX | Вход</title>{% endblock %}
{% block login%}
    active
{% endblock %}
{% block content %}
<main class="main-auth">
  <div class="auth-form">
    {% if next %}
      {% if user.is_authenticated %}
        <div><p>Вы не имеет доступа к этой странице</p></div>
      {% else %}
        <!-- <div><p>Войдите, чтобы просмотреть эту страницу</p></div> -->
      {% endif %}
    {% endif %}
    <div class="auth-offer">Если у вас нет профиля, то вы можете <a href="{% url 'signup'%}">зарегистрироваться</a></div>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="input-div">
      <div><strong>Логин</strong></div>
      <div class="user-input">{{ form.username }}</div>
    </div>
    <div class="input-div">
      <div><strong>Пароль</strong></div>
      <div class="user-input">{{ form.password }}</div>
      {# Assumes you setup the password_reset view in your URLconf #}
      <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </div>
    <div class="button-div"><input type="submit" class="auth-button btn btn-success" value="Войти" /></div>
    <div><input type="hidden" name="next" value="{{ next }}" /></div>
    </form>
  {% if form.errors %}
    <div class="auth-error"><p>Профиль не найден. Попробуйте еще раз</p></div>
  {% endif %}
  </div>
</main>
{% endblock %}