{% extends "base_generic.html" %}
{% block title %}<title>HoloMAX | Изменить пароль</title>{% endblock %}
{% block content %}
<main class="main-auth">
<div class="auth-form">
    {% if validlink %}
        <p class="auth-offer">Пожалуйста, введите ваш новый пароль</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-div">
                <div>Новый пароль</div>
                <div class="user-input">{{ form.new_password1 }}</div>
            </div>
            <div class="input-div">
                <div>Подтверждение пароля</div>
                <div class="user-input">{{ form.new_password2 }}</div>
            </div>
            <div class="button-div"><input type="submit" class="auth-button btn btn-success" value="Изменить пароль" /></div>
        </form>
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                {% if error == "This password is too short. It must contain at least 8 characters." %}
                <div class="auth-error">В пароле менее 8 символов</div>
                {% elif error == "This password is too common." %}
                <div class="auth-error">Пароль слишком простой</div>
                {% elif error == "This password is entirely numeric." %}
                <div class="auth-error">Пароль полностью состоит из цифр</div>
                {% elif error == "The two password fields didn’t match." %}
                <div class="auth-error">Пароли не совпадают</div>
                {% else %}
                <div class="auth-error">{{error}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <h1>Пароль не был изменен</h1>
        <p>Ссылка сброса недействительна. Воспользуйтесь сбросом пароля снова</p>
    {% endif %}
</div>
</main>
{% endblock %}